body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

header {
    background: url('../assets/parfume11men.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 50px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, serif;
    color: #ff9900;
    /* font-family: system-ui; */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li :hover{
    color:#d7a445;
    text-decoration: underline;
    font-size: 20px;
}
.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #d7a445;
    color: antiquewhite;
    border: none;
    cursor: pointer;
}

.hero {
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: Georgia, serif;
}
.hero h1 span {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Georgia, serif;
    color: #ff9900;
}
.hero p {
    font-size: 24px;
    margin-left: 40px;
    margin-bottom: 30px;
    font-family: Georgia, serif;
}
.hero p span {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: Georgia, serif;
    color: #ff9900;

}
.hero button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #D67A1F;
    border-radius: 26px;
    color: #000;
    border: none;
    cursor: pointer;
}

main {
    padding: 50px 20px;
}

.about, .eshop, .contact {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.about h2, .eshop h2, .contact h2 {
    font-size: 18px;
}
.content{
   background: url('../assets/bacgroundhome.jpg')no-repeat center center/cover;
   color: white;
   text-align: center;
   padding:  166px 54px;   
}
.text h1 {
    font-family:Georgia, serif ;
    color:#2F0909 ;
    font-size: xx-large;
    margin-top: -36px;
    margin-bottom: 40px;

}